* {
    background-color: #0e0e0e;
    box-sizing: border-box;
    font-family: Helvetica;
}

main {
    background-color: white;
    height: 763px;
    width: 1070px;
    position: absolute;
    left: 185px;
    top: 0px;
}

h1 {
    background-color: white;
    text-align: center;
}

table {
    margin-left: 25px;
    margin-right: 30px;
    position: absolute;
    top: 72px;
}

thead {
    background-color: #333333;
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
    font-size: 20px;
}

tbody tr td {
    background-color: white;
}

/*.film {*/
/*    padding: 40px 55px;*/
/*    border-right: 1px solid white;*/


.year {
    width: 160px;
    height: 50px;
}

.synopsis {
    display: inline-block
}