* {
    background-color: #0e0e0e;
    box-sizing: border-box;
}

main {
    background-color: white;
    height: 763px;
    width: 1070px;
    position: absolute;
    left: 185px;
    top: 0px;
}

h1 {
    background-color: white;
    text-align: center;
}

table {
    margin-left: 25px;
    margin-right: 30px;
}
td {
    background-color: white;
}
