* {
    background-color: black;
    box-sizing: border-box;
    font-family: Helvetica;
    border-collapse: collapse;
}

main {
    background-color: white;
    height: 763px;
    width: 1070px;
    position: absolute;
    left: 185px;
    top: 0px;
}

table {
    width: 96%;
}

td, thead th {
    background-color: #dedede;
    border: 1px solid black;
    
;
    
}

thead th {
    background-color: #2e2b2b;
    color: white;
    border: solid white 0.5px;
    border-collapse: collapse;
    font-size: 23px
}

.year {
    width: 165px;
    height: 50px;
}

.film {
    height: 100px;
    width: 165px;
}
tbody tr td {       
    height: 50px;
}

h1 {
    background-color: white;
    text-align: center;
}

.col-1 {
    font-size: 24px;
    padding-left: 10px;
    font-weight: bolder;
}

.col-2 {
    font-size: 23px;
    padding-left: 10px;
    font-style: italic;
}

.col-3 {
    font-size: 23px;
    padding-left: 10px;
}

.col-4 {
    font-size: 14.8px;
    padding: 10px;
}

